.plugins-grid span[title=WiserFilterWidget]::before {
  content: '';
  display: inline-block;
  background-image: url('/plugins/WiserFilterWidget/images/wiser-logo-white.svg');
  background-size: 20px 20px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-left: -25px;
  background-position-x: 3px;
}

.wiser-filter-widget {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.wiser-filter-widget__trigger {
    position: relative;

    width: 200px;

    cursor: pointer;

    margin: 0 auto;

    border: 1px solid #cdcdcd;
    border-radius: 7px;

    padding: 11px;

    color: #424242;

    transition: all 0.2s;
}

.wiser-filter-widget__trigger::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #424242 transparent;

    transition: all 0.2s;
}

.wiser-filter-widget__trigger:hover {
    background-color: #f5f5f5;
}

.wiser-filter-widget__trigger--open,
.wiser-filter-widget__trigger--selected {
    background-color: #0277bd;

    color: white;
}

.wiser-filter-widget__trigger--open:hover,
.wiser-filter-widget__trigger--selected:hover {
    background-color: #038EE2;

    color: white;
}

.wiser-filter-widget__trigger--open::after,
.wiser-filter-widget__trigger--selected::after {
    border-color: white transparent;
}

.wiser-filter-widget__trigger-title {
    width: 145px;
}


.wiser-filter-widget__content {
    z-index: 1000;
}

.wiser-filter-widget__content .drop-content {
    background-color: white;

    margin-top: 5px;

    width: 200px;
    max-height: 200px;

    overflow-y: scroll;

    border: 1px solid #cdcdcd;
    border-radius: 5px;

    box-shadow: 0 2px 8px rgba(0,0,0,.2);

    color: #444;
    padding: 1em;
}

.wiser-filter-widget__option {
    margin-bottom: 5px;
}

.wiser-filter-widget__option label {
    display: block;
}

.wiser-filter-widget__option-checkbox {
    margin-right: 10px;
}

.wiser-filter-widget__select-all {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 6px;
    margin-bottom: 10px;
}
